<ion-header>
    <ion-toolbar>
        <ion-title>
          <!-- TCG-Scan {{username}}-->
        </ion-title>  
        <ion-buttons slot="primary" (click)="goMiPerfil()"> 
          <ion-button ><ion-icon slot="start" style="zoom:1.5;" name="person"></ion-icon></ion-button>
        </ion-buttons>
           <!--Boton log-out--> 
           <ion-buttons slot="primary">
          <ion-button (click)="prosesLogout()"><ion-icon slot="end" style="zoom:1.5;" name="log-out"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="icon" src="assets/img/2.jpg"></ion-img>
  <ion-card>
    <ion-card-header>
    <!--  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <ion-card-title>{{username}}</ion-card-title>
      <ion-card>
      <!--  <ion-card-content>
                <ion-item >

                           
             <ion-label  position="stacked">  
               </ion-label>
                <rating  [rate]="rate"
                      readonly="false" 
                      size="default"
                      (rateChange)="onRateChange($event)">
                </rating>
                
             </ion-item>
        </ion-card-content>--> 
    </ion-card>
    </ion-card-header>
  
    <ion-card-content>
        <h3>Total cartas: 343 </h3>
        <h4>Colecciones: 6</h4>
        <h5>Ventas realizadas: 66</h5>
        <h6>Torneos ganados: 2</h6>   
    </ion-card-content>
  </ion-card>

  <ion-row >
      <ion-col>
          <ion-buttons>
            <ion-button>
              Agregar colección
              <ion-icon style="zoom:1.5;" name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-col>
  </ion-row>
<!--Para que el slide no se ponga feo, usar ngFor-->
  <ion-card>
      <h3><b>>Coleccion Intercambio</b></h3>
      <ion-card>
        <ion-card-content>
            <ion-slides>
                <ion-slide>
                  <ion-row>
                    <ion-col>
                        <ion-card>
                            <ion-img  src="assets/img/6.jpg"></ion-img>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card>
                            <ion-img src="assets/img/1.jpg"></ion-img>
                        </ion-card>    
                    </ion-col>            
                  </ion-row>                  
                </ion-slide>
                <ion-slide>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img  src="assets/img/5.jpg"></ion-img>
                            </ion-card>
                        </ion-col>
                        <ion-col>
                            <ion-card>
                                <ion-img src="assets/img/4.jpg"></ion-img>
                            </ion-card>    
                        </ion-col>            
                      </ion-row>           
                  </ion-slide>
              </ion-slides>      
        </ion-card-content>
      </ion-card>
    </ion-card>
    <ion-card>
        <h3><b>>Coleccion a la venta</b></h3>
        <ion-card>
          <ion-card-content>
            <ion-slides>
              <ion-slide>
                <ion-card>
                    <ion-img class="icon" src="assets/img/1.jpg"></ion-img>
                </ion-card>
                <ion-card>
                    <ion-img class="icon" src="assets/img/1.jpg"></ion-img>
                </ion-card>
              
                
              </ion-slide>
            </ion-slides>    
          </ion-card-content>
        </ion-card>
      </ion-card>
      <ion-card>
          <h3><b>>Busco estas cartas</b></h3>
          <ion-card>
            <ion-card-content>
                <ion-slides>
                    <ion-slide>
                      <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-img  src="assets/img/6.jpg"></ion-img>
                            </ion-card>
                        </ion-col>
                        <ion-col>
                            <ion-card>
                                <ion-img src="assets/img/1.jpg"></ion-img>
                            </ion-card>    
                        </ion-col>            
                      </ion-row>                  
                    </ion-slide>
                    <ion-slide>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-img  src="assets/img/5.jpg"></ion-img>
                                </ion-card>
                            </ion-col>
                            <ion-col>
                                <ion-card>
                                    <ion-img src="assets/img/4.jpg"></ion-img>
                                </ion-card>    
                            </ion-col>            
                          </ion-row>           
                      </ion-slide>
                  </ion-slides>      
            </ion-card-content>
          </ion-card>
        </ion-card>
</ion-content>


<ion-footer>
  <!-- Aca debera ir: home-marketPlace-Eventos-    -->
    <ion-toolbar>     
       <!-- <ion-buttons slot="secondary">-->
            <ion-row >
                <ion-col>
                    <ion-buttons (click)="goHome()">
                      <ion-button>
                          <!--<ion-icon slot="icon-only" style="zoom:2.0;" name="home"></ion-icon>-->
                        <ion-icon style="zoom:1.5;" name="home"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                </ion-col>
                <ion-col>
                    <ion-buttons (click)="goMarketPlace()">
                      <ion-button>
                        <ion-icon style="zoom:1.5;" name="cash"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                </ion-col>
                <ion-col>
                    <ion-buttons (click)="goEventos()">
                      <ion-button>
                        <ion-icon style="zoom:1.5;" name="trophy"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                </ion-col>
                <ion-col>
                    <ion-buttons><!--Aca debera ir un despliegue de lista de amigos-->
                      <ion-button>
                          <ion-icon style="zoom:1.5;" name="contacts"></ion-icon>                         
                      </ion-button>
                    </ion-buttons>
                </ion-col>
              </ion-row>
      </ion-toolbar>
</ion-footer>