<ion-header>
  <ion-toolbar>
    <ion-title>evento</ion-title>
    <ion-buttons slot="primary" (click)="goMiPerfil()"> 
      <ion-button ><ion-icon slot="start" style="zoom:1.5;" name="person"></ion-icon></ion-button>
    </ion-buttons>
       <!--Boton log-out--> 
       <ion-buttons slot="primary">
      <ion-button (click)="prosesLogout()"><ion-icon slot="end" style="zoom:1.5;" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img class="icon" src="assets/img/forja.jpg"></ion-img>
    <ion-card>
      <ion-card-header>
      <!--  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
        <ion-card-title>La Forja de Stone</ion-card-title>
        <!-- <ion-card>
         <ion-card-content>
                  <ion-item >
  
                             
               <ion-label  position="stacked">  
                 </ion-label>
                  <rating  [rate]="rate"
                        readonly="false" 
                        size="default"
                        (rateChange)="onRateChange($event)">
                  </rating>
                  
               </ion-item>
          </ion-card-content>
      </ion-card>--> 
      </ion-card-header>
    
      <ion-card-content>
          <h3>Ubicación: Gorbea 2170, Santiago, Región Metropolitana</h3>
          <h4>Precio Inscripción: $2000</h4>
          <h5>Cupos totales: 30</h5>
          <h6>Cupos disponibles: 15</h6>
          <h6>Hora y Fecha: 25/09/2019, Hora:19:30</h6>
      </ion-card-content>
      <ion-buttons>
        <ion-button>
            Asistiré
            <ion-icon name="thumbs-up"></ion-icon>
        </ion-button>
        <ion-button>
            No me interesa
            <ion-icon name="thumbs-down"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-button>
          Como llegar
          <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-card>
  </ion-card>
  <ion-card>
      <ion-img class="icon" src="assets/img/magic4ever.jpg"></ion-img>
      <ion-card>
        <ion-card-header>
        <!--  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
          <ion-card-title>Magic4Ever</ion-card-title>
          <!-- <ion-card>
           <ion-card-content>
                    <ion-item >
    
                               
                 <ion-label  position="stacked">  
                   </ion-label>
                    <rating  [rate]="rate"
                          readonly="false" 
                          size="default"
                          (rateChange)="onRateChange($event)">
                    </rating>
                    
                 </ion-item>
            </ion-card-content>
        </ion-card>--> 
        </ion-card-header>
      
        <ion-card-content>
            <h3>Ubicación: Av. Viel 1690, Santiago, Región Metropolitana</h3>
            <h4>Precio Inscripción: $3500</h4>
            <h5>Cupos totales: 40</h5>
            <h6>Cupos disponibles: 13</h6>
            <h6>Hora y Fecha: 29/09/2019, Hora:19:30</h6>
        </ion-card-content>
        <ion-buttons>
          <ion-button>
              Asistiré
              <ion-icon name="thumbs-up"></ion-icon>
          </ion-button>
          <ion-button>
              No me interesa
              <ion-icon name="thumbs-down"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-button>
            Como llegar
            <ion-icon name="pin"></ion-icon>
        </ion-button>
      </ion-card>
    </ion-card>
</ion-content>

<ion-footer>
    <!-- Aca debera ir: home-marketPlace-Eventos-    -->
      <ion-toolbar>     
         <!-- <ion-buttons slot="secondary">-->
              <ion-row >
                  <ion-col>
                      <ion-buttons (click)="goHome()">
                        <ion-button>
                            <!--<ion-icon slot="icon-only" style="zoom:2.0;" name="home"></ion-icon>-->
                          <ion-icon style="zoom:1.5;" name="home"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                  <ion-col>
                      <ion-buttons (click)="goMarketPlace()">
                        <ion-button>
                          <ion-icon style="zoom:1.5;" name="cash"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                  <ion-col>
                      <ion-buttons (click)="goEventos()">
                        <ion-button>
                          <ion-icon style="zoom:1.5;" name="trophy"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                  <ion-col>
                      <ion-buttons><!--Aca debera ir un despliegue de lista de amigos-->
                        <ion-button>
                            <ion-icon style="zoom:1.5;" name="contacts"></ion-icon>                         
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                </ion-row>
        </ion-toolbar>
  </ion-footer>
  