<ion-header>
  <ion-toolbar>
    <ion-title>Marketplace</ion-title>
    <ion-buttons slot="primary" (click)="goMiPerfil()"> 
      <ion-button ><ion-icon slot="start" style="zoom:1.5;" name="person"></ion-icon></ion-button>
    </ion-buttons>
       <!--Boton log-out--> 
       <ion-buttons slot="primary">
      <ion-button (click)="prosesLogout()"><ion-icon slot="end" style="zoom:1.5;" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
    <!-- Aca debera ir: home-marketPlace-Eventos-    -->
      <ion-toolbar>     
         <!-- <ion-buttons slot="secondary">-->
              <ion-row >
                  <ion-col>
                      <ion-buttons (click)="goHome()">
                        <ion-button>
                            <!--<ion-icon slot="icon-only" style="zoom:2.0;" name="home"></ion-icon>-->
                          <ion-icon style="zoom:1.5;" name="home"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                  <ion-col>
                      <ion-buttons (click)="goMarketPlace()">
                        <ion-button>
                          <ion-icon style="zoom:1.5;" name="cash"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                  <ion-col>
                      <ion-buttons (click)="goEventos()">
                        <ion-button>
                          <ion-icon style="zoom:1.5;" name="trophy"></ion-icon>
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                  <ion-col>
                      <ion-buttons><!--Aca debera ir un despliegue de lista de amigos-->
                        <ion-button>
                            <ion-icon style="zoom:1.5;" name="contacts"></ion-icon>                         
                        </ion-button>
                      </ion-buttons>
                  </ion-col>
                </ion-row>
        </ion-toolbar>
  </ion-footer>
  